<nav class="nb bg-gray-800 fixed w-full pt-2">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="logo-favicon">
          <button type="button" routerLink="/home" routerLinkActive="active">
            <img class="block lg:hidden h-8 w-auto" src="./assets/Favicon.png">
          </button>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div>
            <button type="button" class="btn-shopping inline-flex items-center justify-center p-2 rounded-md" routerLink="/home/shopping" routerLinkActive="active">
                <i id="shopping" class="icon fas fa-shopping-cart"></i>
            </button>
            <button type="button" class="btn-bag inline-flex items-center justify-center p-2 rounded-md" routerLink="/home/record" routerLinkActive="active">
                <i class="icon fas fa-shopping-bag"></i>
            </button>    
        </div>
          <div class="ml-3 relative">
            <div>
                <button id="btnmenu" (click)="menu()" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400">
                <svg class="main-menu block h-9 w-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</nav>


<div class="menu-opened" id="menuOpened">
  <app-menu-l></app-menu-l>
</div>


<div class="primary-div mx-auto col pt-20">
  <div>
    <img class="img-primary" src="./assets/Logo.png">
  </div>
  <div id="welcome">
    <div class="text-center font-bold pt-12 welcome">
      ¡Bienvenido(a) {{Usuario}}!
    </div>
    <input class="ip-search mt-4 p-1.5 pl-16 pr-20 ml-4 mb-12" type="text" placeholder="¿Qué es lo que buscas hoy?">
  </div>
</div>

<div class="container-categories">
  <div id="zona" class="categories text-2xl font-bold ml-4 text-center">
    Categorías
  </div>
  <div *ngIf="arrow1" (click)="arrowCategory()" class="arrow ml-6">
    <i class="fas fa-arrow-left fa-2x"></i>
  </div>
  <div *ngIf="arrow2" (click)="arrowBusiness()" class="arrow ml-6">
    <i class="fas fa-arrow-left fa-2x"></i>
  </div>


  <div>
    <div id="showCategories" class="grid grid-cols-3 p-4">
      <div class="containter-categorie m-1" *ngFor="let categoria of categorys" (click)="onSelectCategory(categoria)">
          <div class="m-auto container-img">
              <img src="http://localhost:3000/{{categoria.imagen}}">
          </div>
          <p class="text-center font-bold name-categorie mb-1">{{categoria.nombre}}</p>
      </div>
    </div>
    
    
    <div id="showBusiness" class="hidden pl-4 pr-4 mt-4">
        
        <div class="card-business grid grid-cols-3 mb-8" *ngFor="let empresa of business" (click)="onSelectBusiness(empresa)">
          <div>
            <img class="banner-business" src="http://localhost:3000/{{empresa.banner}}">
          </div>
          <div>
            <img class="logo-business" src="http://localhost:3000/{{empresa.logo}}">
          </div>
          <div>
            <h3 class="name-business text-center">{{empresa.nombre}}</h3>
            <p class="p-business description-business">{{empresa.informacion}}</p>
            <p class="p-business calification-business">{{empresa.suma_calificaciones/empresa.numero_calificaciones | number:"2.1"}}</p>
          </div>
        </div>
    </div>
    
    <div id="showProducts" class="hidden pl-4 pr-4 mt-4">
        <div class="card-business grid grid-cols-3 mb-8" *ngFor="let producto of products">
            <div class="img-product p-2">
              <img src="http://localhost:3000/{{producto.imagen}}">
            </div>
            <div class="information-product">
              <h3 class="name-product text-center">{{producto.nombre}}</h3>
              <p class="description-product">{{producto.informacion}}</p>
              <p class="description-price"> {{producto.precio}} L</p>
            </div>
            <div>
              <p class="cantidad-product text-center mt-2">¿Cuánto desea?</p>
              <div class="grid grid-cols-2 icons-minus-plus">
                <button (click)="less(producto.id)"type="button">
                  <i class="icon-product fas fa-minus"></i>
                </button>
                <button (click)="more(producto.id, producto)" type="button">
                  <i class="icon-product fas fa-plus"></i>
                </button>
              </div>
              <div class="units">
                <p id="product{{producto.id}}">0</p> <p class="ml-1">Unidades</p>
              </div>
            </div>
        </div>
    </div>
  </div>

  


  <app-footer></app-footer>
</div>