.nb{
    background-color: #F9F9F9;
}

.menu-opened{
    display: none;
}

.logo-favicon{
    padding-left: 15px;
}

.main-menu{
    color: #E06D60;
}

.primary-div{
    background-color: #F9F9F9;
}

.img-primary{
    margin: auto;
    padding-top: 16px;
    width: 17rem;
    height: 9rem;
}

.welcome{
        color: #396CAD;
        font-size: larger;
}

.ip-search{
    background-color: #DFDFDF;
    border-radius: 9px;
    color: #777777;
    border: #959595 1px solid;
}

.container-categories{
    background-color: #F7F7F7;
}

.categories{
    color: #396CAD;
}

.btn-shopping{
    color:black;
}

.btn-bag{
    color:black;
}

.icon{
    font-size: 25px;
}





.containter-categorie{
    border: #7C7C7C 2px solid;
    border-radius: 12px;
    padding-bottom: 0;
    padding-top: 0.75rem;
}

.name-categorie{
    color: #91B5E6;
    font-size: 81%;
}

.container-img{
    width: 100%;
    padding: 0.5rem;
    max-width: 72%;
}