<nav id="nav" class="nb bg-gray-800 fixed w-full pt-2">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="logo-favicon">
            <button type="button" routerLink="/home" routerLinkActive="active">
                <img class="block lg:hidden h-8 w-auto" src="./assets/Favicon.png">
            </button>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div>
            <button type="button" class="btn-shopping inline-flex items-center justify-center p-2 rounded-md">
                <i class="icon fas fa-shopping-cart"></i>
            </button>
            <button type="button" class="btn-bag inline-flex items-center justify-center p-2 rounded-md" routerLink="/home/record" routerLinkActive="active">
                <i class="icon fas fa-shopping-bag"></i>
            </button>    
        </div>
          <div class="ml-3 relative">
            <div>
                <button id="btnmenu" (click)="menu()" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400">
                <svg class="main-menu block h-9 w-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</nav>

<div class="menu-opened" id="menuOpened">
    <app-menu-l></app-menu-l>
</div>

<div class="pt-24">
    <div *ngIf="productsShopping.length" id="summaryProducts">
        <div class="area-summary items-center">
            <button type="button" routerLink="/home" routerLinkActive="active">
                <i class="fas fa-arrow-left icon-left ml-8"></i>
            </button>
            <p class="summary">RESUMEN DE TU ORDEN</p>
        </div>
        <div class="grid grid-cols-3 mt-8 items-center p-4 summary-business">
            <img src="https://maegler.herokuapp.com/{{logo}}">
            <p class="name-business text-center"> {{nombre}} </p>
            <div>
                <button (click)="Cancelar()" class="text-sm btn-cancel" type="button">CANCELAR ORDEN</button>
            </div>
        </div>
        <div *ngFor = "let res of productsShopping">
            <div class="grid grid-cols-4 pb-4 mt-4 mb-4 p-4 items-center">
                <div>
                    <img src="https://maegler.herokuapp.com/{{res.imagen}}">
                </div>
                <div class="ml-4">
                    <p class="name-product text-center">{{res.nombre}}</p>
                    <p class="price-product text-center">L {{res.precio}}.00</p>
                </div>
                <div>
                    <div class="cantidad-product p-2">{{res.cantidad}}</div>
                </div>
                <div class="ml-8">
                    <button (click)="Eliminar(res.id)" type="button">
                        <i class="fas fa-trash-alt icon-trash"></i>
                    </button>
                </div>
            </div>
            <hr class="separation ml-20 mr-20"/>
        </div>
        <div class="grid grid-cols-2 summary-price">
            <p class="subtotal ml-4">Subtotal</p>
            <p class="subtotalC">L {{subtotal}}</p>
        </div>
        <button class="btn-procesar mt-32" (click)="processing()">PROCESAR ORDEN</button>
    </div>


    <div id="finalize" class="hidden finalize">
        <div class="area-summary items-center">
            <button type="button" (click)="backSummaryProducts()">
                <i class="fas fa-arrow-left icon-left ml-8"></i>
            </button>
            <p class="summary text-center">CARRITO</p>
        </div>
        <div class="grid grid-cols-3 mt-8 items-center p-4 summary-business">
            <img src="https://maegler.herokuapp.com/{{logo}}">
            <p class="name-business text-center">{{nombre}}</p>
        </div>
        <div *ngFor = "let res of productsShopping">
            <div class="grid grid-cols-4 pb-4 mt-4 mb-4 p-4 items-center">
                <div>
                    <img src="https://maegler.herokuapp.com/{{res.imagen}}">
                </div>
                <div class="ml-4">
                    <p class="name-product text-center">{{res.nombre}}</p>
                    <p class="price-product text-center">L {{res.precio}}.00</p>
                </div>
                <div>
                    <div class="cantidad-product p-2">{{res.cantidad}}</div>
                </div>
            </div>
            <hr class="separation ml-20 mr-20"/>
        </div>
        <div>
            <div class="grid grid-cols-2 summary-price">
                <p class="subtotal ml-4">Subtotal</p>
                <p class="subtotalC">L {{subtotal}}</p>
            </div>
            <div class="grid grid-cols-2">
                <p class="charge ml-4">Cargo por Entrega</p>
                <p class="chargeC">L 30.00</p>
            </div>
        </div>
        <div class="grid grid-cols-2 summary-price">
            <p class="subtotal ml-4">Total</p>
            <p class="subtotalC">L {{subtotal + 30}}.00</p>
        </div>
        <p class="name-business text-center">Dirección de Entrega</p>
        <div class="pl-20 pr-20 mt-4">
            <app-map class="w-full"></app-map>
        </div>
        <button class="btn-finalize mt-8" (click)="finalize()">FINALIZAR</button>
    </div>

    <div id="ready" class="hidden ready mb-72">
        <div class="area-summary items-center">
            <button type="button" routerLink="/home" routerLinkActive="active">
                <i class="fas fa-arrow-left icon-left ml-8"></i>
            </button>
            <p class="summary text-center">Orden</p>
        </div>
        <p class="name-finalize text-center"> {{nombre}} </p>
        <div *ngFor = "let res of productsShopping">
            <div class="grid grid-cols-4 pb-4 mt-4 mb-4 p-4 items-center">
                <div>
                    <img src="https://maegler.herokuapp.com/{{res.imagen}}">
                </div>
                <div class="ml-4">
                    <p class="name-product text-center">{{res.nombre}}</p>
                    <p class="price-product text-center">L {{res.precio}}.00</p>
                </div>
                <div>
                    <div class="cantidad-product p-2">{{res.cantidad}}</div>
                </div>
            </div>
            <hr class="separation ml-20 mr-20"/>
        </div>
        <div class="grid grid-cols-2 summary-price">
            <p class="subtotal ml-4">Total</p>
            <p class="subtotalC">L {{subtotal + 30}}.00</p>
        </div>
    </div>

    <app-footer ></app-footer>
</div>
