<nav class="nb bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="logo-favicon">
        <img class="block lg:hidden h-8 w-auto" src="./assets/Favicon.png">
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="ml-3 relative">
          <div>
            <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="main-menu block h-9 w-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="primary-div mx-auto col">
  <div class="row">
    <img class="img-primary" src="./assets/Logo.png">
  </div>
  <div class="row font-bold text-center question">
    ¿Necesitas un Producto?
  </div>
  <div class="row primary-info">
    <p class="p-primary text-center">
      Con nuestra ayuda encontraras diversidad de
    </p>
    <p class="p-primary text-center">
      productos según la necesidad que tengas.
    </p>
  </div>
  <button  class="row btn-registry">
    REGISTRATE
  </button>
</div>





