<nav class="nb bg-gray-800 fixed w-full pt-2">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="logo-favicon">
        <img class="block lg:hidden h-8 w-auto" src="./assets/Favicon.png">
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="ml-3 relative">
          <div>
            <button id="btnmenu" (click)="menu()" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400" aria-controls="mobile-menu" aria-expanded="false">
              <svg class="main-menu block h-9 w-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="menuOpened">

</div>
<div class="primary-div mx-auto col pt-20">
  <div>
    <img class="img-primary" src="./assets/Logo.png">
  </div>
  <div class="row font-bold text-center info-blue">
    ¿Necesitas un Producto?
  </div>
  <div class="primary-info">
    <p class="p-primary text-center">
      Con nuestra ayuda encontraras diversidad de
    </p>
    <p class="p-primary text-center">
      productos según la necesidad que tengas.
    </p>
  </div>
  <button  class="btn-registry">
    REGISTRATE
  </button>
</div>

<div>
  <img class="my-14 -mt-9" src="./assets/VectorWave-rafiki.svg">
</div>

<div class="container">
  <div class="font-bold text-center info-blue">
    En Mæegler puedes encontrar productos
  </div>
  <div class="font-bold text-center info-blue">
    relacionados a las siguientes categorías:
  </div>
  <div class="grid grid-cols-2">
    <img class="icon-category" src="./assets/laptop.svg">
    <img class="icon-category" src="./assets/musica.svg">
  </div>
  <div class="dealers">
    <div class="pt-12 ml-16 font-bold text-center info-white">
      ¿Quieres ser parte de nuestro
    </div>
    <div class="ml-20 font-bold text-center info-white">
      Equipo de Repartidores?
    </div>
    <img class="img-dealer" src="./assets/dealer.svg">
    <div class="text-center text-sm mt-8 info-white">
      Si estas interesado en formar parte de la familia
    </div>
    <div class="text-center text-sm info-white">
      de Mæegler y de nuestro equipo de repartidores
    </div>
    <div class="text-center text-sm info-white">
      Puedes postular dando click en el siguiente boton.
    </div>
    <button  class="btn-postulate">
      ¡POSTÚLATE!
    </button>
  </div>
  <div class="promote">
    <div class="pt-12 text-lx font-bold info-dark-blue">
      ¿Quieres promocionar tus
    </div>
    <div class="text-lx font-bold info-dark-blue-s">
      productos?
    </div>
    <button  class="btn-contact mt-24">
      ¡CONTACTANOS!
    </button>
    <img class="m-auto mt-12" src="./assets/building.svg">
  </div>

  <footer class="footer bg-white static pt-1">
    <div class="grid grid-cols-3 pr-40 pl-36  w-96 mt-12">
      <img class="m-auto" src="./assets/instagram.svg">
      <img class="m-auto" src="./assets/facebook.svg">
      <img class="m-auto" src="./assets/twitter.svg">
    </div>
    <div class="mt-4">
      <div class="text-center text-sm p-primary">
        Copyright © 2021 Mægler Technologies
      </div>
      <div class="text-center text-sm p-primary mb-4">
        All the rights reserved
      </div>
    </div>
  </footer>
</div>




