<div class="container-menu">
    <button class="ml-4 mt-8 pl-36 pr-36 btn-menuP" type="button">
      PERFIL
    </button>
    <button class="pl-28 mt-8 pr-28 btn-menuD" type="button">
      DIRECCIONES
    </button>
    <button class="ml-8 mt-8 pr-16 pl-16 btn-menuI" type="button">
      INFORMACIÓN DE PAGO
    </button>
    <button class="ml-8 mt-8 pr-24 pl-24 btn-menuC" type="button">
        CERRAR SESIÓN
    </button>
    <button class="question-fre ml-12 pl-16 pr-20" type="button">
      Preguntas Frecuentes
    </button>
</div>
