<footer class="footer bg-footer static pt-1 pb-1">
    <div class="grid grid-cols-3 pr-40 pl-36  w-96 mt-12">
      <img class="m-auto" src="./assets/instagram-w.svg">
      <img class="m-auto" src="./assets/facebook-w.svg">
      <img class="m-auto" src="./assets/twitter-w.svg">
    </div>
    <div class="mt-4">
      <div class="text-center text-sm p-primary">
        Copyright © 2021 Mægler Technologies
      </div>
      <div class="text-center text-sm p-primary mb-4">
        All the rights reserved
      </div>
    </div>
</footer>
