<nav class="grid grid-cols-3 align-items-center arrow">
    <div class="m-2">
      <i class="fas fa-arrow-left fa-2x" (click)="goBack();"></i>
    </div>
    <div class="col-span-2">
      <p class="text-xl py-2 uppercase font-semibold">Perfil de Usuario</p>
    </div>
</nav>

<main>
    <div class="flex flex-col arrow">
        <div class="place-self-center my-3 flex flex-col justify-items-center">
          <i style="font-size: 140px;" class="text-center fas fa-user-circle"></i>
          <p class="text-center text-2xl">Nombre</p>
        </div>
    </div>
    <div class="my-6 mx-6 text-lg arrow">
        <label class="my-4 font-semibold gray" for="correo">Correo Electrónico</label><br>
        <input class="px-0 mb-3 font-semibold text-xl arrow" value="email" type="text" id="correo" readonly><br>
        <label class="my-4 font-semibold gray" for="telefono">Teléfono</label><br>
        <input class="px-0 mb-3 font-semibold input-style text-xl arrow" value="telefono" type="text" id="telefono"
          readonly><br>
        <label class="my-4 font-semibold gray" for="contraseña">Contraseña</label><br>
        <div class="flex flex-row mb-3">    
          <input class="px-0 font-semibold input-style text-xl arrow" value="contraseña" type="password" id="contraseña"
            readonly>
          <button class="input-button" (click)="togglePassword();"><i
              [ngClass]="passwordShowed ? 'fas fa-eye-slash' : 'fas fa-eye'"></i></button>
          <button class="input-button" id="change-password" (click)="showChangePasswordForm()"><i
              class="fas fa-pen"></i></button>
    </div>
    <!---------------------------------------->
      <!-- Formulario para cambiar contraseña -->
      <!---------------------------------------->
      <div class="mx-3" *ngIf="passwordFormIsActived">
        <label class="my-4 font-semibold" for="nueva_contraseña">Nueva Contraseña</label><br>
        <div class="flex flex-row mb-3">
          <input class="px-0 font-semibold text-xl" type="password" id="nueva_contraseña">
          <button class="input-button" (click)="toggleNewPassword();"><i
              [ngClass]="newPasswordShowed ? 'fas fa-eye-slash' : 'fas fa-eye'"></i></button>
        </div>
        <label class="my-4 font-semibold" for="repet">Repetir Nueva Contraseña</label><br>
        <div class="flex flex-row mb-3">
          <input class="px-0 font-semibold text-xl" type="password" id="repeticion_nueva_contraseña">
          <button class="input-button" (click)="toggleRepeatNewPassword();"><i
              [ngClass]="repeatNewPasswordShowed ? 'fas fa-eye-slash' : 'fas fa-eye'"></i></button>
        </div>
        <div class="inline-block">
          <button (click)="closePasswordForm()" class="button rounded-md mx-1 py-2 px-3 uppercase bg-blue">Aceptar</button>
          <button (click)="closePasswordForm()" class="button rounded-md mx-1 py-2 px-3 uppercase bg-red">Cancelar</button>
        </div>
      </div>
      <!------------------------------------------->
      <!-- Fin formulario para cambiar contraseña-->
      <!------------------------------------------->
    </div>
</main>